/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--main-color);
  background-image: var(--header-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    "navigation"
    "header-title"
    "header-text";
  padding: var(--padding);
  position: relative;
  height: max(668px, var(--header-footer-height));
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  bottom: var(--padding);
  left: var(--padding);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  top: var(--padding);
  right: var(--padding);
}

.header__theme-menu {
  grid-area: navigation;
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 3px 13px;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--button-color);
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--box-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  grid-area: header-title;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
  font-family: "IBM Plex Mono", monospace;
  font-size: var(--title-font-size-large-to-medium);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin-left: -20px;
  align-self: center;
}

.header__tytle-decription-text {
  grid-area: header-text;
  color: var(--tytle-decription-color);
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--text-background-color);
  width: 50%;
  justify-self: end;
  align-self: center;
}

.header-logo {
  display: var(--boolean);
  position: absolute;
  color: var(--text-dark-color);
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  top: var(--padding);
  right: var(--logo_right-padding);
}

.header-logo::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  box-shadow: 0px 0px 4px 2px var(--title-shadow);
  left: 42px;
  top: 8px;
}

.main {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 60px;
}

.link {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--link-shadow-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
  border: 1px solid var(--text-color);
}

.section {
  padding: 0 var(--padding);
  display: grid;
  grid-template-columns: calc(100% / 3 - 13px) 1fr;
  gap: 20px;
}

.section-title {
  color: var(--section-title-color);
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.section-card-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.card-header {
  color: var(--tytle-decription-color);
  background-color: var(--text-background-color);
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.card-text {
  color: var(--text-color);
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.section__reasons {
  grid-template-columns: none;
}

.section-title-reasons {
  width: calc(100% / 3 - 13px);
}

.section-card-block-reasons {
  flex-direction: row;
  flex-wrap: wrap;
}

.card-reasons {
  flex-basis: 250px;
}

.less__font-weight {
  font-weight: 400;
}

.section__images {
  grid-template-columns: none;
}

.grid-images {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.image-sunset {
  grid-area: sunset;
}

.image-ice-cream {
  grid-area: ice-cream;
}

.image-tape {
  grid-area: tape;
}

.image-books {
  grid-area: books;
}

.image-street {
  grid-area: street;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: var(--padding);
  height: max(668px, var(--header-footer-height));
}

.footer-title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
  font-family: "IBM Plex Mono", monospace;
  font-size: var(--title-font-size-large-to-medium);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    gap: 11px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }
  .header__title {
    font-size: var(--title-font-size-medium-to-small);
  }

  .section__questions {
    grid-template-columns: 1fr 2fr;
  }

  .section-card-block-reasons {
    flex-direction: column;
  }

  .section__tips {
    grid-template-columns: 1fr 2fr;
  }

  .footer-title {
    font-size: var(--title-font-size-medium-to-small);
  }

  .card-reasons {
    flex-basis: auto;
  }
}

@media (max-width: 576px) {
  :root {
    --padding: 10px;
  }

  .main {
    padding-top: 40px;
    margin-bottom: 40px;
    gap: 50px;
  }

  .header__title {
    margin-left: 0;
  }

  .header__tytle-decription-text {
    width: 100%;
  }

  .section {
    grid-template-columns: none;
  }

  .section-title-reasons {
    width: 100%;
  }

  .section__images {
    gap: 10px;
  }

  .grid-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header-logo {
    --logo_right-padding: 38px;
  }
}
